{% extends 'main.html' %}
{% load static %}

{% block title %}CoLab - Login / Sign Up{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}

{% block content %}


    <div class="pseudo-center">
        <div class="container">
            <div class="main-body">               
                <form method="POST" action = "">
                    {% csrf_token %}
                    <div class="top-bar">
                        <div class="wave">
                            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                            </svg>      
                        </div>
                        <h1 class="title">Login</h1>
                    </div>

                    <h3>{{message}}
                    
                    <div class="data-input">
                        <label> Username:</label>
                        <input class="input-box" type="text" name="username" placeholder="Enter Username">
                    </div>
                    
                    <div class="data-input">
                        <Label> Password: </Label>
                        <input class="input-box" type="password" name="password" placeholder="Enter Password">
                    </div>

                    <div class="bottom-btns">
                        <input class="submit" type="submit" value="Login">
                    </div>
                </form>
            </div> 
        </div>
    </div>
{% endblock %}