@font-face {
    font-family: "Chewy-Regular";
    src: url("/static/fonts/Chewy-Regular.ttf") format("truetype");
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #DBDFD2;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}