h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
    text-align: center;
    margin: 0;
    margin-top: 8px;
    padding: 0;
}

.pseudo-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    margin-top: 20px;
    width: 80%;
    background-color: #ABB883;
    border: #91233C 4px solid;
    border-radius: 40px;
    display: block;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.likes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.likes li {
    display: inline;
}

.likes li:not(:last-child)::after {
    content: ', ';
}

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: #DBDFD2;
    color: #91233C;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;

    width: fit-content;
    padding-left: 4px;
    padding-right: 12px;
    border-right: #91233C 4px solid;
    border-bottom: #91233C 4px solid;
    border-bottom-right-radius: 12px;
}

.name {
    font-size: 32px;
    padding-left: 12px;
    padding-top: 4px;
    white-space: nowrap;
}

.small-info {
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 4px;
}

.top-left {
    display: flex;
    width: 70%;
}

.traffic-light {
    display: flex;
    align-items: center;
    margin-left: 6px;
    flex-direction: row;
}

.light {
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    border: 2px solid#91233C;
    padding: 4px;
    display: none;
}

.light.active {
    display: block;
}

.green.active {
    background-color: green;
}

.yellow.active {
    background-color: yellow;
}

.red.active {
    background-color: red;
}

.txt {
    font-weight: bold;
}

.concern-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
    
    margin-top: 4px;
    margin-left: 6px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #DBDFD2;
    color: #91233C;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;

    width: fit-content;
    height: fit-content;
    padding: 4px 8px 4px 8px;
    border: #91233C 4px solid;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #f2f4ea;
    color: #eb6987;
}

.top-right-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
}

.followup {
    top: 24px;
    margin-right: 16px;
}

.edit-concern {
    float: right;
    margin-right: 16px;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin-top: 20px;
}

.left-col {
    width: 20%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-col {
    width: 40%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-col {
    width: 40%;
    margin: 4px;
    display: flex;
    flex-direction: column;
}

.edit-likes-dislikes {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: 6px;
}

.likes, .dislikes {
    width: 100%;
}

.likes h2,
.dislikes h2 {
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: -4px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
}

ul {
    list-style-type: none;
}

.likes li,
.dislikes li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}
.txt-bubble {
    background-color: #DBDFD2;
    border: 4px solid #91233C;
    border-radius: 20px;
    height: fit-content;
    box-sizing: border-box
}

.bottom-half {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 6px;
}

.left-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    padding-top: 4px;
}

.left-btns .btn {
    text-align: center;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.referred-to, 
.added-comments {
    padding-left: 8px;
    padding-top: 8px;
    width: 90%;
}

.edit-referral {
    display: inline-block;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
}

.edit-profile {
    float: right;
    margin: 12px;
    margin-top: 0;
}

.plan {
    width: 100%;
    height: fit-content;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.plan-left {
    width: 100%;
    height: 100%;
}

.plan a:link,
.plan a:visited {
    text-decoration: none;
}

.plan a {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #DBDFD2;
    color: #91233C;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
}

.plan-right:hover {
    background-color: #f2f4ea;
    color: #eb6987;
}

.plan h2 {
    padding-left: 8px;
    margin-top: 12px;
    margin-bottom: -4px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
}

.plan p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
    font-size: 18px;
    display: inline;
}

.plan-right {
    width: 30%;
    height: 100%;
    border-left: #91233C 4px solid;
    align-items: center;
    justify-content: center;
    color: #91233C;
    box-sizing: border-box; 
    padding: 6px 0;
}

.edit-plan {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: 6px;
    

}

.workshops {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 12px;
    margin-bottom: 6px;
    max-height: 400px;
    overflow-y:scroll;
}

.workshops h2 {
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: -4px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
}

.workshops li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

.workshop-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 6px;
}

.workshop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #DBDFD2;
    color: #91233C;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;

    width: 100%;
    height: 80px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: #91233C 4px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.workshop a:link,
.workshop a:visited {
    color: inherit;
    text-decoration: none; 
}

.event .date,
.event .name,
.workshop .date,
.workshop .name {
    padding: 10px;
}

.event .date,
.workshop .date {
    padding-top: 0;
}

.event .name,
.workshop .name {
    padding-bottom: 0;
}

.event-list :hover,
.workshop-list :hover {
    background-color: #f2f4ea;
    color: #eb6987;
}

.timeline {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y:scroll;
}

.timeline h2 {
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: -4px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
}

.timeline li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

.followup-box,
.event {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #DBDFD2;
    color: #91233C;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;

    width: 100%;
    height: 80px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: #91233C 4px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.event-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 6px;
}

.event-list :hover {
    background-color: #f2f4ea;
    color: #eb6987;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #91233C;
}
::-webkit-scrollbar-thumb {
    background-color: #91233C;
border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #91233C;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}