{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CoLab{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    {% block additional_css %}{% endblock %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/colab_logo.jpg' %}" >
</head>
<body>

    {% include 'navbar.html' %}
    <div id="content">
        {% block content %}
        
        <!-- Main content goes here -->
        
        {% endblock %}
    </div>
    
</body>
</html>